## Tarea 5
### Alumno: Cristian Vásquea
### Objetivo: Familiarizarse con el manejo de versiones a través de Git

In [ ]:
# Importo las librerias pandas y numpy
import pandas as pd
import numpy as np

In [9]:
# Cargo el dataset de la flor de iris
data = pd.read_csv('iris-2.csv')

Visulización del dataset:

El dataset tiene 5 columnas. las cuatro primeras corresponden a medidas del largo y ancho del sepalo y petalo, y la última es la clase de flor de cada muestra

In [33]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

El dataset no tiene valores nulos

In [24]:
# Uso los metodos isnull() y sum() para saber si hay valores nulos en el dataset
valores_nulos = data.isnull().sum()
print(valores_nulos)

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

Estadisticas generales del data set:

In [29]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Para cada clase de flor existen existen 50 filas (muestras)

In [36]:
clases_de_flor = data['species'].value_counts()
print(clases_de_flor)

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64